__pycache__/
*.py[cod]
*$py.class

*/migrations/*.pyc
*/migrations/*.py~
*/migrations/__pycache__/

venv/
env/
ENV/
.venv/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store

*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo

.env

.pytest_cache/

htmlcov/
.coverage

staticfiles/
media/
